.CalculatorContainer {
  position: relative;
  z-index: 1;
  height: 600px;
  width: 500px;
  border-radius: 40px;
}

.Calculator {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  top: 0;
  left: 0;
  background-color: var(--calcBlack);
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.CalculatorShadow {
  position: absolute;
  z-index: -1;
  height: 102%;
  width: 102%;
  border-radius: inherit;
  top: 5px;
  left: 5px;
  background-color: var(--calcDarker);
  box-shadow: 1px 1px var(--calcShadow), 2px 2px var(--calcShadow),
    3px 3px var(--calcShadow), 4px 4px var(--calcShadow),
    5px 5px var(--calcShadow), 6px 6px var(--calcShadow),
    7px 7px var(--calcShadow), 8px 8px var(--calcShadow),
    9px 9px var(--calcShadow), 10px 10px var(--calcShadow),
    11px 11px var(--calcShadow), 12px 12px var(--calcShadow),
    13px 13px var(--calcShadow), 14px 14px var(--calcShadow),
    15px 15px var(--calcShadow), 16px 16px var(--calcShadow),
    17px 17px var(--calcShadow), 18px 18px var(--calcShadow),
    19px 19px var(--calcShadow), 20px 20px var(--calcShadow),
    21px 21px var(--calcShadow), 22px 22px var(--calcShadow),
    23px 23px var(--calcShadow), 24px 24px var(--calcShadow),
    25px 25px var(--calcShadow), 26px 26px var(--calcShadow),
    27px 27px var(--calcShadow), 28px 28px var(--calcShadow),
    29px 29px var(--calcShadow), 30px 30px var(--calcShadow),
    31px 31px var(--calcShadow), 32px 32px var(--calcShadow),
    33px 33px var(--calcShadow), 34px 34px var(--calcShadow),
    35px 35px var(--calcShadow), 36px 36px var(--calcShadow),
    37px 37px var(--calcShadow), 38px 38px var(--calcShadow),
    39px 39px var(--calcShadow), 40px 40px var(--calcShadow),
    41px 41px var(--calcShadow), 42px 42px var(--calcShadow),
    43px 43px var(--calcShadow), 44px 44px var(--calcShadow),
    45px 45px var(--calcShadow), 46px 46px var(--calcShadow),
    47px 47px var(--calcShadow), 48px 48px var(--calcShadow),
    49px 49px var(--calcShadow), 50px 50px var(--calcShadow),
    51px 51px var(--calcShadow), 52px 52px var(--calcShadow),
    53px 53px var(--calcShadow), 54px 54px var(--calcShadow),
    55px 55px var(--calcShadow), 56px 56px var(--calcShadow),
    57px 57px var(--calcShadow), 58px 58px var(--calcShadow),
    59px 59px var(--calcShadow), 60px 60px var(--calcShadow),
    61px 61px var(--calcShadow), 62px 62px var(--calcShadow),
    63px 63px var(--calcShadow), 64px 64px var(--calcShadow),
    65px 65px var(--calcShadow), 66px 66px var(--calcShadow),
    67px 67px var(--calcShadow), 68px 68px var(--calcShadow),
    69px 69px var(--calcShadow), 70px 70px var(--calcShadow),
    71px 71px var(--calcShadow), 72px 72px var(--calcShadow),
    73px 73px var(--calcShadow), 74px 74px var(--calcShadow),
    75px 75px var(--calcShadow), 76px 76px var(--calcShadow),
    77px 77px var(--calcShadow), 78px 78px var(--calcShadow),
    79px 79px var(--calcShadow), 80px 80px var(--calcShadow),
    81px 81px var(--calcShadow), 82px 82px var(--calcShadow),
    83px 83px var(--calcShadow), 84px 84px var(--calcShadow),
    85px 85px var(--calcShadow), 86px 86px var(--calcShadow),
    87px 87px var(--calcShadow), 88px 88px var(--calcShadow),
    89px 89px var(--calcShadow), 90px 90px var(--calcShadow),
    91px 91px var(--calcShadow), 92px 92px var(--calcShadow),
    93px 93px var(--calcShadow), 94px 94px var(--calcShadow),
    95px 95px var(--calcShadow), 96px 96px var(--calcShadow),
    97px 97px var(--calcShadow), 98px 98px var(--calcShadow),
    99px 99px var(--calcShadow), 100px 100px var(--calcShadow),
    101px 101px var(--calcShadow), 102px 102px var(--calcShadow),
    103px 103px var(--calcShadow), 104px 104px var(--calcShadow),
    105px 105px var(--calcShadow), 106px 106px var(--calcShadow),
    107px 107px var(--calcShadow), 108px 108px var(--calcShadow),
    109px 109px var(--calcShadow), 110px 110px var(--calcShadow),
    111px 111px var(--calcShadow), 112px 112px var(--calcShadow),
    113px 113px var(--calcShadow), 114px 114px var(--calcShadow),
    115px 115px var(--calcShadow), 116px 116px var(--calcShadow),
    117px 117px var(--calcShadow), 118px 118px var(--calcShadow),
    119px 119px var(--calcShadow), 120px 120px var(--calcShadow),
    121px 121px var(--calcShadow), 122px 122px var(--calcShadow),
    123px 123px var(--calcShadow), 124px 124px var(--calcShadow),
    125px 125px var(--calcShadow), 126px 126px var(--calcShadow),
    127px 127px var(--calcShadow), 128px 128px var(--calcShadow),
    129px 129px var(--calcShadow), 130px 130px var(--calcShadow),
    131px 131px var(--calcShadow), 132px 132px var(--calcShadow),
    133px 133px var(--calcShadow), 134px 134px var(--calcShadow),
    135px 135px var(--calcShadow), 136px 136px var(--calcShadow),
    137px 137px var(--calcShadow), 138px 138px var(--calcShadow),
    139px 139px var(--calcShadow), 140px 140px var(--calcShadow),
    141px 141px var(--calcShadow), 142px 142px var(--calcShadow),
    143px 143px var(--calcShadow), 144px 144px var(--calcShadow),
    145px 145px var(--calcShadow), 146px 146px var(--calcShadow),
    147px 147px var(--calcShadow), 148px 148px var(--calcShadow),
    149px 149px var(--calcShadow), 150px 150px var(--calcShadow),
    151px 151px var(--calcShadow), 152px 152px var(--calcShadow),
    153px 153px var(--calcShadow), 154px 154px var(--calcShadow),
    155px 155px var(--calcShadow), 156px 156px var(--calcShadow),
    157px 157px var(--calcShadow), 158px 158px var(--calcShadow),
    159px 159px var(--calcShadow), 160px 160px var(--calcShadow),
    161px 161px var(--calcShadow), 162px 162px var(--calcShadow),
    163px 163px var(--calcShadow), 164px 164px var(--calcShadow),
    165px 165px var(--calcShadow), 166px 166px var(--calcShadow),
    167px 167px var(--calcShadow), 168px 168px var(--calcShadow),
    169px 169px var(--calcShadow), 170px 170px var(--calcShadow),
    171px 171px var(--calcShadow), 172px 172px var(--calcShadow),
    173px 173px var(--calcShadow), 174px 174px var(--calcShadow),
    175px 175px var(--calcShadow), 176px 176px var(--calcShadow),
    177px 177px var(--calcShadow), 178px 178px var(--calcShadow),
    179px 179px var(--calcShadow), 180px 180px var(--calcShadow),
    181px 181px var(--calcShadow), 182px 182px var(--calcShadow),
    183px 183px var(--calcShadow), 184px 184px var(--calcShadow),
    185px 185px var(--calcShadow), 186px 186px var(--calcShadow),
    187px 187px var(--calcShadow), 188px 188px var(--calcShadow),
    189px 189px var(--calcShadow), 190px 190px var(--calcShadow),
    191px 191px var(--calcShadow), 192px 192px var(--calcShadow),
    193px 193px var(--calcShadow), 194px 194px var(--calcShadow),
    195px 195px var(--calcShadow), 196px 196px var(--calcShadow),
    197px 197px var(--calcShadow), 198px 198px var(--calcShadow),
    199px 199px var(--calcShadow), 200px 200px var(--calcShadow),
    201px 201px var(--calcShadow), 202px 202px var(--calcShadow),
    203px 203px var(--calcShadow), 204px 204px var(--calcShadow),
    205px 205px var(--calcShadow), 206px 206px var(--calcShadow),
    207px 207px var(--calcShadow), 208px 208px var(--calcShadow),
    209px 209px var(--calcShadow), 210px 210px var(--calcShadow),
    211px 211px var(--calcShadow), 212px 212px var(--calcShadow),
    213px 213px var(--calcShadow), 214px 214px var(--calcShadow),
    215px 215px var(--calcShadow), 216px 216px var(--calcShadow),
    217px 217px var(--calcShadow), 218px 218px var(--calcShadow),
    219px 219px var(--calcShadow), 220px 220px var(--calcShadow),
    221px 221px var(--calcShadow), 222px 222px var(--calcShadow),
    223px 223px var(--calcShadow), 224px 224px var(--calcShadow),
    225px 225px var(--calcShadow), 226px 226px var(--calcShadow),
    227px 227px var(--calcShadow), 228px 228px var(--calcShadow),
    229px 229px var(--calcShadow), 230px 230px var(--calcShadow),
    231px 231px var(--calcShadow), 232px 232px var(--calcShadow),
    233px 233px var(--calcShadow), 234px 234px var(--calcShadow),
    235px 235px var(--calcShadow), 236px 236px var(--calcShadow),
    237px 237px var(--calcShadow), 238px 238px var(--calcShadow),
    239px 239px var(--calcShadow), 240px 240px var(--calcShadow),
    241px 241px var(--calcShadow), 242px 242px var(--calcShadow),
    243px 243px var(--calcShadow), 244px 244px var(--calcShadow),
    245px 245px var(--calcShadow), 246px 246px var(--calcShadow),
    247px 247px var(--calcShadow), 248px 248px var(--calcShadow),
    249px 249px var(--calcShadow), 250px 250px var(--calcShadow),
    251px 251px var(--calcShadow), 252px 252px var(--calcShadow),
    253px 253px var(--calcShadow), 254px 254px var(--calcShadow),
    255px 255px var(--calcShadow), 256px 256px var(--calcShadow),
    257px 257px var(--calcShadow), 258px 258px var(--calcShadow),
    259px 259px var(--calcShadow), 260px 260px var(--calcShadow),
    261px 261px var(--calcShadow), 262px 262px var(--calcShadow),
    263px 263px var(--calcShadow), 264px 264px var(--calcShadow),
    265px 265px var(--calcShadow), 266px 266px var(--calcShadow),
    267px 267px var(--calcShadow), 268px 268px var(--calcShadow),
    269px 269px var(--calcShadow), 270px 270px var(--calcShadow),
    271px 271px var(--calcShadow), 272px 272px var(--calcShadow),
    273px 273px var(--calcShadow), 274px 274px var(--calcShadow),
    275px 275px var(--calcShadow), 276px 276px var(--calcShadow),
    277px 277px var(--calcShadow), 278px 278px var(--calcShadow),
    279px 279px var(--calcShadow), 280px 280px var(--calcShadow),
    281px 281px var(--calcShadow), 282px 282px var(--calcShadow),
    283px 283px var(--calcShadow), 284px 284px var(--calcShadow),
    285px 285px var(--calcShadow), 286px 286px var(--calcShadow),
    287px 287px var(--calcShadow), 288px 288px var(--calcShadow),
    289px 289px var(--calcShadow), 290px 290px var(--calcShadow),
    291px 291px var(--calcShadow), 292px 292px var(--calcShadow),
    293px 293px var(--calcShadow), 294px 294px var(--calcShadow),
    295px 295px var(--calcShadow), 296px 296px var(--calcShadow),
    297px 297px var(--calcShadow), 298px 298px var(--calcShadow),
    299px 299px var(--calcShadow), 300px 300px var(--calcShadow),
    301px 301px var(--calcShadow), 302px 302px var(--calcShadow),
    303px 303px var(--calcShadow), 304px 304px var(--calcShadow),
    305px 305px var(--calcShadow), 306px 306px var(--calcShadow),
    307px 307px var(--calcShadow), 308px 308px var(--calcShadow),
    309px 309px var(--calcShadow), 310px 310px var(--calcShadow),
    311px 311px var(--calcShadow), 312px 312px var(--calcShadow),
    313px 313px var(--calcShadow), 314px 314px var(--calcShadow),
    315px 315px var(--calcShadow), 316px 316px var(--calcShadow),
    317px 317px var(--calcShadow), 318px 318px var(--calcShadow),
    319px 319px var(--calcShadow), 320px 320px var(--calcShadow),
    321px 321px var(--calcShadow), 322px 322px var(--calcShadow),
    323px 323px var(--calcShadow), 324px 324px var(--calcShadow),
    325px 325px var(--calcShadow), 326px 326px var(--calcShadow),
    327px 327px var(--calcShadow), 328px 328px var(--calcShadow),
    329px 329px var(--calcShadow), 330px 330px var(--calcShadow),
    331px 331px var(--calcShadow), 332px 332px var(--calcShadow),
    333px 333px var(--calcShadow), 334px 334px var(--calcShadow),
    335px 335px var(--calcShadow), 336px 336px var(--calcShadow),
    337px 337px var(--calcShadow), 338px 338px var(--calcShadow),
    339px 339px var(--calcShadow), 340px 340px var(--calcShadow),
    341px 341px var(--calcShadow), 342px 342px var(--calcShadow),
    343px 343px var(--calcShadow), 344px 344px var(--calcShadow),
    345px 345px var(--calcShadow), 346px 346px var(--calcShadow),
    347px 347px var(--calcShadow), 348px 348px var(--calcShadow),
    349px 349px var(--calcShadow), 350px 350px var(--calcShadow),
    351px 351px var(--calcShadow), 352px 352px var(--calcShadow),
    353px 353px var(--calcShadow), 354px 354px var(--calcShadow),
    355px 355px var(--calcShadow), 356px 356px var(--calcShadow),
    357px 357px var(--calcShadow), 358px 358px var(--calcShadow),
    359px 359px var(--calcShadow), 360px 360px var(--calcShadow),
    361px 361px var(--calcShadow), 362px 362px var(--calcShadow),
    363px 363px var(--calcShadow), 364px 364px var(--calcShadow),
    365px 365px var(--calcShadow), 366px 366px var(--calcShadow),
    367px 367px var(--calcShadow), 368px 368px var(--calcShadow),
    369px 369px var(--calcShadow), 370px 370px var(--calcShadow),
    371px 371px var(--calcShadow), 372px 372px var(--calcShadow),
    373px 373px var(--calcShadow), 374px 374px var(--calcShadow),
    375px 375px var(--calcShadow), 376px 376px var(--calcShadow),
    377px 377px var(--calcShadow), 378px 378px var(--calcShadow),
    379px 379px var(--calcShadow), 380px 380px var(--calcShadow),
    381px 381px var(--calcShadow), 382px 382px var(--calcShadow),
    383px 383px var(--calcShadow), 384px 384px var(--calcShadow),
    385px 385px var(--calcShadow), 386px 386px var(--calcShadow),
    387px 387px var(--calcShadow), 388px 388px var(--calcShadow),
    389px 389px var(--calcShadow), 390px 390px var(--calcShadow),
    391px 391px var(--calcShadow), 392px 392px var(--calcShadow),
    393px 393px var(--calcShadow), 394px 394px var(--calcShadow),
    395px 395px var(--calcShadow), 396px 396px var(--calcShadow),
    397px 397px var(--calcShadow), 398px 398px var(--calcShadow),
    399px 399px var(--calcShadow), 400px 400px var(--calcShadow),
    401px 401px var(--calcShadow), 402px 402px var(--calcShadow),
    403px 403px var(--calcShadow), 404px 404px var(--calcShadow),
    405px 405px var(--calcShadow), 406px 406px var(--calcShadow),
    407px 407px var(--calcShadow), 408px 408px var(--calcShadow),
    409px 409px var(--calcShadow), 410px 410px var(--calcShadow),
    411px 411px var(--calcShadow), 412px 412px var(--calcShadow),
    413px 413px var(--calcShadow), 414px 414px var(--calcShadow),
    415px 415px var(--calcShadow), 416px 416px var(--calcShadow),
    417px 417px var(--calcShadow), 418px 418px var(--calcShadow),
    419px 419px var(--calcShadow), 420px 420px var(--calcShadow),
    421px 421px var(--calcShadow), 422px 422px var(--calcShadow),
    423px 423px var(--calcShadow), 424px 424px var(--calcShadow),
    425px 425px var(--calcShadow), 426px 426px var(--calcShadow),
    427px 427px var(--calcShadow), 428px 428px var(--calcShadow),
    429px 429px var(--calcShadow), 430px 430px var(--calcShadow),
    431px 431px var(--calcShadow), 432px 432px var(--calcShadow),
    433px 433px var(--calcShadow), 434px 434px var(--calcShadow),
    435px 435px var(--calcShadow), 436px 436px var(--calcShadow),
    437px 437px var(--calcShadow), 438px 438px var(--calcShadow),
    439px 439px var(--calcShadow), 440px 440px var(--calcShadow),
    441px 441px var(--calcShadow), 442px 442px var(--calcShadow),
    443px 443px var(--calcShadow), 444px 444px var(--calcShadow),
    445px 445px var(--calcShadow), 446px 446px var(--calcShadow),
    447px 447px var(--calcShadow), 448px 448px var(--calcShadow),
    449px 449px var(--calcShadow), 450px 450px var(--calcShadow),
    451px 451px var(--calcShadow), 452px 452px var(--calcShadow),
    453px 453px var(--calcShadow), 454px 454px var(--calcShadow),
    455px 455px var(--calcShadow), 456px 456px var(--calcShadow),
    457px 457px var(--calcShadow), 458px 458px var(--calcShadow),
    459px 459px var(--calcShadow), 460px 460px var(--calcShadow),
    461px 461px var(--calcShadow), 462px 462px var(--calcShadow),
    463px 463px var(--calcShadow), 464px 464px var(--calcShadow),
    465px 465px var(--calcShadow), 466px 466px var(--calcShadow),
    467px 467px var(--calcShadow), 468px 468px var(--calcShadow),
    469px 469px var(--calcShadow), 470px 470px var(--calcShadow),
    471px 471px var(--calcShadow), 472px 472px var(--calcShadow),
    473px 473px var(--calcShadow), 474px 474px var(--calcShadow),
    475px 475px var(--calcShadow), 476px 476px var(--calcShadow),
    477px 477px var(--calcShadow), 478px 478px var(--calcShadow),
    479px 479px var(--calcShadow), 480px 480px var(--calcShadow),
    481px 481px var(--calcShadow), 482px 482px var(--calcShadow),
    483px 483px var(--calcShadow), 484px 484px var(--calcShadow),
    485px 485px var(--calcShadow), 486px 486px var(--calcShadow),
    487px 487px var(--calcShadow), 488px 488px var(--calcShadow),
    489px 489px var(--calcShadow), 490px 490px var(--calcShadow),
    491px 491px var(--calcShadow), 492px 492px var(--calcShadow),
    493px 493px var(--calcShadow), 494px 494px var(--calcShadow),
    495px 495px var(--calcShadow), 496px 496px var(--calcShadow),
    497px 497px var(--calcShadow), 498px 498px var(--calcShadow),
    499px 499px var(--calcShadow), 500px 500px var(--calcShadow),
    501px 501px var(--calcShadow), 502px 502px var(--calcShadow),
    503px 503px var(--calcShadow), 504px 504px var(--calcShadow),
    505px 505px var(--calcShadow), 506px 506px var(--calcShadow),
    507px 507px var(--calcShadow), 508px 508px var(--calcShadow),
    509px 509px var(--calcShadow), 510px 510px var(--calcShadow),
    511px 511px var(--calcShadow), 512px 512px var(--calcShadow),
    513px 513px var(--calcShadow), 514px 514px var(--calcShadow),
    515px 515px var(--calcShadow), 516px 516px var(--calcShadow),
    517px 517px var(--calcShadow), 518px 518px var(--calcShadow),
    519px 519px var(--calcShadow), 520px 520px var(--calcShadow),
    521px 521px var(--calcShadow), 522px 522px var(--calcShadow),
    523px 523px var(--calcShadow), 524px 524px var(--calcShadow),
    525px 525px var(--calcShadow), 526px 526px var(--calcShadow),
    527px 527px var(--calcShadow), 528px 528px var(--calcShadow),
    529px 529px var(--calcShadow), 530px 530px var(--calcShadow),
    531px 531px var(--calcShadow), 532px 532px var(--calcShadow),
    533px 533px var(--calcShadow), 534px 534px var(--calcShadow),
    535px 535px var(--calcShadow), 536px 536px var(--calcShadow),
    537px 537px var(--calcShadow), 538px 538px var(--calcShadow),
    539px 539px var(--calcShadow), 540px 540px var(--calcShadow),
    541px 541px var(--calcShadow), 542px 542px var(--calcShadow),
    543px 543px var(--calcShadow), 544px 544px var(--calcShadow),
    545px 545px var(--calcShadow), 546px 546px var(--calcShadow),
    547px 547px var(--calcShadow), 548px 548px var(--calcShadow),
    549px 549px var(--calcShadow), 550px 550px var(--calcShadow),
    551px 551px var(--calcShadow), 552px 552px var(--calcShadow),
    553px 553px var(--calcShadow), 554px 554px var(--calcShadow),
    555px 555px var(--calcShadow), 556px 556px var(--calcShadow),
    557px 557px var(--calcShadow), 558px 558px var(--calcShadow),
    559px 559px var(--calcShadow), 560px 560px var(--calcShadow),
    561px 561px var(--calcShadow), 562px 562px var(--calcShadow),
    563px 563px var(--calcShadow), 564px 564px var(--calcShadow),
    565px 565px var(--calcShadow), 566px 566px var(--calcShadow),
    567px 567px var(--calcShadow), 568px 568px var(--calcShadow),
    569px 569px var(--calcShadow), 570px 570px var(--calcShadow),
    571px 571px var(--calcShadow), 572px 572px var(--calcShadow),
    573px 573px var(--calcShadow), 574px 574px var(--calcShadow),
    575px 575px var(--calcShadow), 576px 576px var(--calcShadow),
    577px 577px var(--calcShadow), 578px 578px var(--calcShadow),
    579px 579px var(--calcShadow), 580px 580px var(--calcShadow),
    581px 581px var(--calcShadow), 582px 582px var(--calcShadow),
    583px 583px var(--calcShadow), 584px 584px var(--calcShadow),
    585px 585px var(--calcShadow), 586px 586px var(--calcShadow),
    587px 587px var(--calcShadow), 588px 588px var(--calcShadow),
    589px 589px var(--calcShadow), 590px 590px var(--calcShadow),
    591px 591px var(--calcShadow), 592px 592px var(--calcShadow),
    593px 593px var(--calcShadow), 594px 594px var(--calcShadow),
    595px 595px var(--calcShadow), 596px 596px var(--calcShadow),
    597px 597px var(--calcShadow), 598px 598px var(--calcShadow),
    599px 599px var(--calcShadow);
}

@media (max-width: 550px) {
  .CalculatorContainer {
    height: 550px;
    width: 400px;
  }
}

@media (max-width: 400px) {
  .CalculatorContainer {
    width: 100vw;
    height: 100vh;
    border-radius: 0px;
  }
}
