:root {
  --backgroundColor: #99c089;
  --calcBlack: #575757;
  --calcDarker: #424242;
  --calcShadow: #78976b;
  --displayBck: #bbd0c1;
  --displayShadow: #9ba89e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Digital';
  src: url('./Resources/Fonts/digital-font.ttf');
}

@font-face {
  font-family: 'Coolvetica-Compressed';
  src: url('./Resources/Fonts/coolvetica-compressed.ttf');
}

.App {
  height: 100vh;
  min-height: 600px;
  background-color: var(--backgroundColor);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
